.container {
  border: 8px solid blue;
  display: flex;
  width: 1200px;
  margin: auto;
}

.logo {
  padding-left: 28px;
  padding-top: 8px;
  padding-bottom: 8px;
  color: #fff;
  background-color: #3182CE;
}

.card {
  width: 300px;
  height: 300px;
  padding: 5px;
  background-color: #fff;
  text-align: center;
  border-radius: 20px;
}

.card_image {
  border-radius: 50%;
  border: 1px solid black;
}

.title {
  font-size: large;
}

.description {
  font-size: medium;
}

.card2 {
  margin: auto;
  width: 300px;
  height: 300px;
  padding: 5px;
  text-align: center;
}
